/* Botón hamburguesa */
.menu-btn {
  display: none;
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 1583px) {
  .menu-btn {
    display: block;
  }
}

/* Menú */
.navigation {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
}

.navigation a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #ddd;
}

/* Mostrar menú en pantallas pequeñas */
@media screen and (max-width: 1583px) {
  .navigation {
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
    display: none;
  }

  .menu.show-menu {
    display: block;
  }

  .navigation li {
    display: block;
    margin: 0;
  }

  .navigation a {
    padding: 10px 15px;
  }
}

/* Para dispositivos con una pantalla más pequeña que 576px */
@media screen and (max-width: 576px) {
  .navigation a {
    font-size: 14px;
  }
}

/*Boxes*/
.main-home {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.main-temp-box {
  display: flex;
  flex-direction: column;
}

.main-info-box {
  width: 55rem;
  height: 20em;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #1d2f3e, #50769654),
    url("../../../public/box-background.jpg") center/cover no-repeat
      rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.temp-line-box {
  width: 55rem;
  height: 15.9em;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #1d2f3e, #50769654),
    url("../../../public/under-box.jpg") center/cover no-repeat
      rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.total-info-box {
  width: 28rem;
  height: 37.18em;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #1d2f3e, #50769654),
    url("../../../public/rigth-box.jpg") center/cover no-repeat
      rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1583px){
  .main-info-box{
    width: 45rem;
  }
  .temp-line-box{
    width: 45rem;
  }
  .total-info-box{
    width: 25rem;
  }
}

@media screen and (max-width: 1208px){
  .main-info-box{
    width: 95%;
  }
  .temp-line-box{
    width: 95%;
  }
  .total-info-box{
    width: 20rem;
  }
}

@media screen and (max-width: 864px){
  .main-home {
    display: flex;
    flex-direction: column;
  }
  .main-info-box{
    width: 98%;
  }
  .temp-line-box{
    width: 98%;
  }
  .total-info-box{
    width: 98%;
  }
}

.place-box {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.info-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.degree-box {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-left: 1.5em;
  margin-top: 0.7em;
}

.icon-temp-box {
  width: 20%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-temp-box img {
  width: 90%;
  position: relative;
  top: -10%;
  right: 60%;
}

.total-info-box {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.total-info-box h2 {
  margin-left: 50px;
}

.total-small-box {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.total-small-box img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

